* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oxygen Mono', monospace;
}

body, html {
  width: 99%;
  height: 99%;
  background-color: #bce8fc;
}

.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  height: 100px;
  left: 15px;
  top: 15px;
}

.App-title {
  font-size: 2.5em;
  position: absolute;
  top: 15px;
  left: 130px;
  font-family: 'Cutive Mono', monospace;
  width: 400px;
  color: #454545;
}

.SearchBar {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 50px 0px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.SearchBar input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
}

.SearchIcon  {
  color:#888;
  position: absolute;
  top: 12px;
  left: 60px;
  font-size: 20px;
}

.SearchResults {
  display: none;
}

.TV {
  width: 100px;
  height: 100px;
}

.TvContainer {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.TvContainer .TextContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -78%);
  color: #454545;
}

#aboutUsTV {
  position: absolute;
  left: 100px;
  top: 20%;
}

#moviesTV {
  position: absolute;
  top: 20%;
  right: 100px;
}
